<div class="bookInfo_card">
  <mat-card>
    <mat-card-title style="padding-left: 15px">Информация о книге</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item name="bookName">Название книги: {{currentBook.bookName}}</mat-list-item>
        <mat-list-item name="bookAuthor">Авторы: {{currentBook.author}}</mat-list-item>
        <mat-list-item name="publisher">Издатель: {{currentBook.publisher.name}}</mat-list-item>
        <mat-list-item name="city">Город: {{currentBook.publisher.city}}</mat-list-item>
        <mat-list-item name="yearOfPublishing">Год издания: {{currentBook.yearOfPublishing}}</mat-list-item>
        <mat-list-item name="bookLanguage">Язык: {{currentBook.language}}</mat-list-item>
        <mat-list-item name="bookPageCount">Количество страниц: {{currentBook.pagesCount}}</mat-list-item>
        <mat-list-item name="bookISBN">ISBN: {{currentBook.isbn}}</mat-list-item>
        <mat-list-item name="bookBBK">BBK: {{currentBook.bbk}}</mat-list-item>
        <mat-list-item name="bookUDK">UDK: {{currentBook.udk}}</mat-list-item>
        </mat-list>
        <mat-expansion-panel hideToggle style="max-height: 200px" style="padding-bottom: 15px">
            <mat-expansion-panel-header>
              <mat-panel-title>Аннотация</mat-panel-title>
            </mat-expansion-panel-header>
            {{currentBook.annotation}}
          </mat-expansion-panel>
    </mat-card-content>
    <mat-divider></mat-divider>
      <mat-card-footer>
        <mat-label>Наличие в пунктах выдачи:</mat-label>
        <mat-list *ngFor="let storage of listOfStorages">
          <mat-list-item>{{storage.hall.hallName}}; {{storage.hall.housing.housingName}}; {{storage.hall.housing.adress.street}}, {{storage.hall.housing.adress.building}}</mat-list-item>
        </mat-list>
      </mat-card-footer>
  </mat-card>
</div>

  <!--"id": 15,
  "bookName": "Ужас Данвича",
  "author": "Говард Филиппс Лавкрафт",
  "pagesCount": 68,
  "yearOfPublishing": 2023,
  "publisher": {
  "id": 4,
  "name": "Азбука",
  "city": "Москва"
  },
  "language": "Русский",
  "annotation": "Говард Филлипс Лавкрафт, не опубликовавший при жизни ни одной книги, стал маяком и ориентиром жанра литературы ужасов, кумиром как широких читательских масс, так и рафинированных интеллектуалов.",
  "additionalInfo": null,
  "isbn": "978-5-389-22398-1",
  "bbk": null,
  "udk": null-->

