<mat-grid-list cols="2" rowHeight="4:3">
  <mat-grid-tile>
    <mat-grid-tile-header>Info</mat-grid-tile-header>
    <mat-list>
      <mat-list-item name="bookName">Book name: {{currentBook.bookName}}</mat-list-item>
      <mat-list-item name="bookAuthor">Book author: {{currentBook.author}}</mat-list-item>
      <mat-list-item name="publisher">Publisher: {{currentBook.publisher.name}}</mat-list-item>
      <mat-list-item name="bookLanguage">Language: {{currentBook.language}}</mat-list-item>
      <mat-list-item name="bookPageCount">Page count: {{currentBook.pagesCount}}</mat-list-item>
      <mat-list-item name="bookPageCount">ISBN: {{currentBook.isbn}}</mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <!--"id": 15,
  "bookName": "Ужас Данвича",
  "author": "Говард Филиппс Лавкрафт",
  "pagesCount": 68,
  "yearOfPublishing": 2023,
  "publisher": {
  "id": 4,
  "name": "Азбука",
  "city": "Москва"
  },
  "language": "Русский",
  "annotation": "Говард Филлипс Лавкрафт, не опубликовавший при жизни ни одной книги, стал маяком и ориентиром жанра литературы ужасов, кумиром как широких читательских масс, так и рафинированных интеллектуалов.",
  "additionalInfo": null,
  "isbn": "978-5-389-22398-1",
  "bbk": null,
  "udk": null-->
</mat-grid-list>

