<div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search
      </mat-panel-title>
      <mat-panel-description>
        Type name or author to find book, you want
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
    <mat-form-field appearance="outline" style="width: 100%; max-width: 100%;">
      <mat-label>Search books</mat-label>
      <input matInput cdkTextareaAutosize placeholder="War and peace" name="search" [(ngModel)]="searchVar">
      <mat-icon matSuffix>library_books</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    </form>
  </mat-expansion-panel>
</div>

<mat-grid-list cols=2>
  <mat-grid-tile *ngFor="let book of books |filter:searchVar">
    <mat-card>
      <mat-card-title>{{book.bookName}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      <mat-card-content>{{book.annotation}}</mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions >
        <button mat-icon-button matTooltip="More information about the book" (click)="openBookDetails(book.id)"><mat-icon>expand_more</mat-icon></button>
        <span class="spacer-for-cards"></span>
        <button mat-icon-button matTooltip="Adding this book to a cart"><mat-icon>library_add</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
