<div class="acc-div">
  <form class="account-form">
    <!--<ng-template [ngIf]="!formType">
      <h1>Login</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Enter your email" name="email"
               [(ngModel)] ="email">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <button mat-button (click)="changeFormType(true)">Registration</button>
    </ng-template>
    <ng-template [ngIf]="formType">
      <h1>Registration</h1>
      <mat-form-field class="example-full-width" appearance="fill" hideRequiredMarker = "false">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter your first name" name="firstName">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter your last name" name="lastName">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Surname (optional)</mat-label>
        <input matInput placeholder="Enter your surname" name="surname">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Enter your email" name="email"
               [(ngModel)] ="email">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      </mat-form-field>
      <button mat-button (click) = "changeFormType(false)">Back</button>
      &lt;!&ndash;<button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>&ndash;&gt;
    </ng-template>-->
  </form>
</div>
