
<ng-template [ngIf]="!isAdminLogin && !(currentFormuliar === undefined)">
  <button mat-raised-button (click)="LogOut()" style="float:right">Log out</button>
  <div class="reader-acc">
    <mat-card>
      <mat-card-title>{{currentFormuliar.reader.lastName}} {{currentFormuliar.reader.firstName}}</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Количество просроченных книг: {{currentFormuliar.countOverdueBooks}}</mat-list-item>
          <mat-list-item>Дата создания формуляра: {{currentFormuliar.dateOfCreation}}</mat-list-item>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Данные читателя
              </mat-panel-title>
              <mat-panel-description>
                Здесь вы можете посмотреть и изменить свои данные
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>Отчество: {{currentFormuliar.reader.surName}}</mat-list-item>
              <mat-list-item>Дата регистрации: {{currentFormuliar.reader.registrationDate}}</mat-list-item>
              <mat-list-item>Электронная почта: {{currentFormuliar.reader.email}}</mat-list-item>
              <mat-list-item>Номер телефона: {{currentFormuliar.reader.cellular}}</mat-list-item>
              <mat-list-item>Роль: {{currentFormuliar.reader.role.roleName}}</mat-list-item>
              <ng-template [ngIf]="(currentFormuliar.reader.role.roleName === 'ПФК')">
                <mat-list-item>Должность: {{currentFormuliar.reader.role.readerJob.jobName}}</mat-list-item>
                <mat-list-item>Факультет: {{currentFormuliar.reader.role.faculty.facultyName}}</mat-list-item>
                <mat-list-item>Кафедра: {{currentFormuliar.reader.role.department}}</mat-list-item>
              </ng-template>
              <ng-template [ngIf]="(currentFormuliar.reader.role.roleName === 'Студент')">
                <mat-list-item>Курс: {{currentFormuliar.reader.course}}</mat-list-item>
                <!--<mat-list-item *ngIf="!currentFormuliar.reader.group === null">Группа: {{currentFormuliar.reader.group.name}}</mat-list-item>-->
                <mat-list-item>Дата приема: {{currentFormuliar.reader.receiptDate}}</mat-list-item>
                <mat-list-item>Дата окончания: {{currentFormuliar.reader.expirationDate}}</mat-list-item>
              </ng-template>
            </mat-list>
          </mat-expansion-panel>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template [ngIf]="isAdminLogin && !(currentAdmin === undefined)">
  <button mat-raised-button (click)="LogOut()" style="float: right">Log out</button>
  <div class="admin-acc">
    <mat-card>
      <mat-card-title>{{currentAdmin.lastName}} {{currentAdmin.firstName}}</mat-card-title>
      <mat-card-content>
        <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          &lt;!&ndash;- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" &ndash;&gt;

          &lt;!&ndash; Position Column &ndash;&gt;
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          &lt;!&ndash; Name Column &ndash;&gt;
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          &lt;!&ndash; Weight Column &ndash;&gt;
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          &lt;!&ndash; Symbol Column &ndash;&gt;
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>-->
      </mat-card-content>
      <mat-card-footer>Ваш ID: {{currentAdmin.id}}</mat-card-footer>
    </mat-card>
  </div>
</ng-template>
