<div class="acc-div">
<h1>Registration</h1>
<form #f = "ngForm" id = "registration" (ngSubmit)="submit(f)">
  <mat-form-field class="example-full-width" appearance="fill" hideRequiredMarker = "false">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Enter your first name" name="firstName" ngModel required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter your last name" name="lastName" ngModel required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Surname (optional)</mat-label>
    <input matInput placeholder="Enter your surname" name="surname" ngModel>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Enter your email" name="email" ngModel required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mobile phone</mat-label>
    <input matInput placeholder="Enter your phone number" name="cellular" ngModel required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select name = "role" required ngModel>
      <mat-option *ngFor="let role of roles"  [value]="role">{{role.roleName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" ngModel required>
  </mat-form-field>
  <button mat-raised-button color="primary" type = "submit" style="left: 50%">Submit</button>
  <button mat-button (click) = "changeFormType()" style="left: 60%">Back</button>
</form>
</div>
