<mat-toolbar>
  <a mat-icon-button routerLink="/portal" matTooltip="Начальная страница"><mat-icon>home</mat-icon></a>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/basket" matTooltip="Корзина"><mat-icon>shopping_cart</mat-icon></button>
  <a mat-icon-button routerLink="/account" matTooltip="Аккаунт пользователя"><mat-icon>account_box</mat-icon></a>
  <!--<button mat-icon-button class="example-icon">
    <mat-icon>account_box</mat-icon>
  </button>-->
</mat-toolbar>

<router-outlet></router-outlet>

<!--nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary" [tabPanel]="tabPanel">
  <a mat-tab-link mat-align-tabs="end" routerLink="/portal">Portal</a>
  <a mat-tab-link routerLink="/account">Account</a>
</nav>
<mat-tab-nav-panel #tabPanel>
</mat-tab-nav-panel>-->


