<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon">
    <mat-icon>account_box</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-button><a routerLink="/portal">Portal</a></button>
  <button mat-button><a routerLink="/account">Account</a></button>
</mat-menu>
<router-outlet></router-outlet>

<!--nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary" [tabPanel]="tabPanel">
  <a mat-tab-link mat-align-tabs="end" routerLink="/portal">Portal</a>
  <a mat-tab-link routerLink="/account">Account</a>
</nav>
<mat-tab-nav-panel #tabPanel>
</mat-tab-nav-panel>-->


