<mat-sidenav-container class = "example-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <button mat-icon-button color="primary" label="Account">
      <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>book</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Portal" class="mat-tab" >
        <app-portal></app-portal>
      </mat-tab>
      <mat-tab label="Authorization" class="mat-tab">
        <app-account></app-account>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>

