<form [formGroup]="orderForm">
<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Заказ</ng-template>
    <ng-template matStepContent>
      <mat-card>
        <mat-card-title>Книга</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>Название книги: {{currentBook.bookName}}</mat-list-item>
            <mat-list-item>Авторы: {{currentBook.author}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <button mat-button matStepperNext>Следующий</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Пункт выдачи</ng-template>
    <ng-template matStepContent>
      <mat-form-field>
        <mat-select>
          <mat-label>Наличие книги в пунктах выдачи</mat-label>
          <mat-option *ngFor="let storage of listOfStorages" [formControl]="orderForm.controls.storage" [value]="storage">{{storage.hall.hallName}}, {{storage.hall.housing.housingName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Следующий</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Подтверждение</ng-template>
    <mat-label>Подтвердите заказ: {{currentBook.bookName}}</mat-label>
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-raised-button type="submit" (click)="submit()">Подтвердить</button>
  </mat-step>
</mat-stepper>
</form>
